/* Color Scale (private vars)
======================================================================= */
// Grayscale
$black:         rgb(0,   0,   0);
$gray-darker:   rgb(33,  33,  33);
$gray-dark:     rgb(117, 117, 117);
$gray:          rgb(189, 189, 189);
$gray-light:    rgb(224, 224, 224);
$gray-lighter:  rgb(245, 245, 245);
$white:         rgb(255, 255, 255);

// Colors
$slategray:     rgb(112, 128, 144);
$blue:          rgba(0, 216, 255, .5);
$blue-darker:   rgba(0, 1, 127, .7);
$transparent:   rgba(0, 0, 0, 0);

/* Color Applications
======================================================================= */
$font-color:               $gray-lighter;
$background-color-main-1:  $blue;
$background-color-main-2:  $blue-darker;
$background-gradient-main: linear-gradient(45deg, $background-color-main-1 10%, $background-color-main-2);

/* Color Global Styles
======================================================================= */
body {
  background-color: $black;
  background-image: $background-gradient-main;
}

a {
  color: $font-color;
}
