/* Fonts
======================================================================= */
$font-family-sans: "Fira Sans", "Lucida Grande", "Helvetica", "sans-serif";
$font-family-serif: "Palatino Linotype", "Georgia", "serif";
$font-family-code: "Consolas", "Monaco", "Andale Mono", "Monospace";

/* Typographic Scale (http://www.modularscale.com/?1&em&1.5&sass&text)
======================================================================= */
$font-size-super-massive: 4.882rem;
$font-size-jumbo:         2.441rem;
$font-size-largest:       1.953rem;
$font-size-larger:        1.563rem;
$font-size-large:         1.25rem;
$font-size-base:          1rem;
$font-size-small:         0.9rem;
$font-size-smaller:       0.8rem;
$font-size-smallest:      0.72rem;
$font-size-micro:         0.64rem;

/* Font Size
======================================================================= */
$font-size-nav:             $font-size-base;
$font-size-body:            $font-size-base;
$font-size-home-title:      $font-size-super-massive;
$font-size-heading-1:       $font-size-jumbo;
$font-size-heading-2:       $font-size-largest;
$font-size-heading-3:       $font-size-larger;
$font-size-heading-4:       $font-size-large;
$font-size-monospace:       $font-size-smallest;
$font-size-monospace-title: $font-size-base;

/* Font Weight
======================================================================= */
$font-weight-nav:               normal;
$font-weight-heading-1:         normal;
$font-weight-heading-2:         normal;
$font-weight-heading-3:         normal;
$font-weight-heading-4:         normal;

/* Line Height
======================================================================= */
$line-height-heading-1:   1.125;
$line-height-heading-2:   1.2;
$line-height-heading-3:   1.25;
$line-height-heading-4:   1.25;
$line-height-monospace:   1.4;
$line-height-body:        1.6;
$line-height-nav:         1.25;

/* Paragraph Spacing
======================================================================= */
$paragraph-spacing-p:  $font-size-small;
$paragraph-spacing-h1: $font-size-large;
$paragraph-spacing-h2: $font-size-large;
$paragraph-spacing-h3: $font-size-large;
$paragraph-spacing-h4: $font-size-large;

/* Typography Global Styles
======================================================================= */
html {
  font-size:    20px;
  font-family:  $font-family-sans;
  color:        $font-color;
}

h1 {
  font-size:    $font-size-heading-1;
  line-height:  $line-height-heading-1;
  font-weight:  $font-weight-heading-1;
}

h2 {
  font-size:    $font-size-heading-2;
  line-height:  $line-height-heading-2;
  font-weight:  $font-weight-heading-2;
}

h3 {
  font-size:    $font-size-heading-3;
  line-height:  $line-height-heading-3;
  font-weight:  $font-weight-heading-3;
}

h4 {
  font-size:    $font-size-heading-4;
  line-height:  $line-height-heading-4;
  font-weight:  $font-weight-heading-4;
}

p {
  line-height:  $line-height-body;
  font-family:  $font-family-serif;
}

a {
  font-size:    $font-size-nav;
  line-height:  $line-height-nav;
  font-weight:  $font-weight-nav;
  text-decoration: none;
  border-bottom: 2px solid $transparent;
  transition: all 0.2s ease;
  &:hover {
    border-bottom: 2px solid $white;
  }
}

nav a {
  font-size:    $font-size-nav;
  line-height:  $line-height-nav;
  font-weight:  $font-weight-nav;
}
